input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  border-radius: 3px;

  &:focus {
    color: $color__text-input-focus;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

label {
  display: block;
  padding: 0.5em;
  border: 2px solid $color__background-body;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.5em;
}

label > small {
  display: block;
}

@each $class, $form_color in
        (error, #f11),
        (warning, #fa3),
        (notice, #fe4),
        (success, #9f7),
{
  label.form-#{$class} {
    border: 2px solid #{$form_color};
    background: mix(#{$form_color}, $color__background-body, 33%);
  }
}