<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

#
# configure mod_headers
#
# URL: http://httpd.apache.org/docs/2.2/mod/mod_headers.html
#
<IfModule mod_headers.c>
    Header unset ETag
    Header unset Last-Modified

    # 1 YEAR
    <FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav)$">
        Header set Cache-Control "max-age=29030400, public"
    </FilesMatch>

    # 1 WEEK
    <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

    # 1 DAY
    <FilesMatch "\.(txt|xml|js|css)$">
        Header set Cache-Control "max-age=86400"
    </FilesMatch>

    # NEVER CACHE
    <FilesMatch "\.(html|htm|php|cgi|pl)$">
        # Change the X-UA-Compatible header if you want to use a special version of
        # the internet explorer. Usage examples:
        #
        #   Header set X-UA-Compatible "IE=7"
        #   Header set X-UA-Compatible "IE=EmulateIE7"
        #   Header set X-UA-Compatible "IE=8"
        #   Header set X-UA-Compatible "IE=EmulateIE8"
        #   Header set X-UA-Compatible "IE=edge"
        Header set X-UA-Compatible "IE=edge"

        Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault A0

    # 1 YEAR
    <FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav)$">
        ExpiresDefault A29030400
    </FilesMatch>

    # 1 WEEK
    <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
        ExpiresDefault A604800
    </FilesMatch>

    # 3 HOUR
    <FilesMatch "\.(txt|xml|js|css)$">
        ExpiresDefault A10800
    </FilesMatch>
</IfModule>
