
h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
  color: $color__text-h1;
}

h2 {
  color: $color__text-h2;
}

h3 {
  color: $color__text-h3;
}

h4 {
  color: $color__text-h4;
}

h5 {
  color: $color__text-h5;
}

h6 {
  color: $color__text-h6;
}