@import "colors";
@import "typography";
@import "structure";

$layout_header_image-width: 50%;
$layout_header_branding-width: 0;

$navigation_menus_main-navigation_item_background: #946300;
$navigation_menus_main-navigation_item_padding: 0.5em;
$design_button_color: #fff;

$navigation_menus_main-navigation_item-hover_background: #009688;
$navigation_menus_main-navigation_item-hover_color: #fff;