@import "colors";
@import "typography";
@import "structure";

$layout_header_image-width: 50%;
$layout_header_branding-width: 0;

$navigation_menus_main-navigation_item_background: #cde;
$navigation_menus_main-navigation_item_padding: 0.5em;
$navigation_menus_main-navigation_item_color: #000;

$navigation_menus_main-navigation_item-hover_background: #def;
$navigation_menus_main-navigation_item-hover_color: #000;