$navigation_menus-material-background: $navigation_menus_main-navigation_item_background;

.main-navigation {
  ul {

    li {

      @include design-button("a");

      ul {
        a {
          border: 0;
          border-left: 3px solid $navigation_menus-material-background;
          border-right: 3px solid $navigation_menus-material-background;
        }

        a:focus, a:active {
          border: 0;
          border-left: 3px solid $color__background-body;
          border-right: 3px solid $color__background-body;
        }
      }

    }
  }
}

.entry-footer {
  @include design-button("a");

  a {
    border: 0;
    border-top: 3px solid $navigation_menus-material-background;
    border-bottom: 3px solid $navigation_menus-material-background;
  }

  a:focus, a:active {
    border: 0;
    border-top: 3px solid $color__background-body;
    border-bottom: 3px solid $color__background-body;
  }
}