$navigation_menus-material-background: #006e5a;

.main-navigation {
  background-color: $navigation_menus-material-background;
  ul {

    li:first-child {
      font-weight: 600;
      border-right: 1px dotted darken($navigation_menus-material-background, 10);

      a {
        padding: 1em 2em;
      }
    }

    li {

      a {
        padding: 1em 0.5em;
        text-align: center;
        background-color: $navigation_menus-material-background;
        color: #fff;
        outline: 0;

        border-top: 3px solid $navigation_menus-material-background;
        border-bottom: 3px solid $navigation_menus-material-background;

        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -ms-transition: all .5s;
        transition: all .5s;
      }

      a:hover {
        background-color: darken($navigation_menus-material-background, 5);
      }

      a:focus, a:active {
        background-color: darken($navigation_menus-material-background, 10);

        border-top: 3px solid $color__background-body;
        border-bottom: 3px solid $color__background-body;
      }

    }
  }
}