$navigation_menus-material-background: #009688;

.main-navigation {
  ul {

    li {

      a {
        -webkit-transition: background-color 1.5s;
        -moz-transition: background-color 1.5s;
        -o-transition: background-color 1.5s;
        -ms-transition: background-color 1.5s;
        transition: background-color 1.5s;
      }

      a:focus, a:active {
        background-color: lighten($navigation_menus-material-background, 10);
      }
    }
  }
}